img{
    height: 320px;
    width: 270px;
}

.topbar{
    height: 60vh;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(205, 207, 219, 0.5),rgba(205, 207, 219, 0.25)),
    url('../../images/bg.jpg');
    background-repeat: no-repeat;
}

.title{
    color: #333;
}

.header{
    margin: 70px auto;
}